In [1]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# google drive နှင့် link ချိတ်ခြင်း
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# reading data
df=pd.read_csv('/content/drive/MyDrive/diamonds.csv')
df
# https://drive.google.com/file/d/1HvWoPOt-8nortVFHhsIT_NEFumYsVqYp/view?usp=sharing
# အပေါ်ကလင့်က ခုသုံးမယ့် data ရဲ့ link ဖြစ်ပါတယ်။

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [4]:
# unique
# unique ဖြစ်တဲ့တန်ဖိုးတွေကိုရှာခြင်း
df.color.unique()
# df['color'].unique()
# ထွက်လာတဲ့ output တန်ဖိုးတွေကိုကြည့်ရင် unique ဖြစ်တာတွေကိုတွေ့ရမှာဖြစ်ပါတယ်။
# တကယ်လို့ ကိုယ့်ရှာချင်တဲ့ column မှာ missing data တွေပါရင် df.col.unique(dropna=False) ဆိုပြီးရေးပေးပါ။

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [5]:
# number of unique
# unique ဖြစ်တဲ့ အရေအတွက်ကိုကြည့်ချင်ရင်တော့ nunique() ကို သုံးရပါတယ်။
df.color.nunique()
# df['color'].nunique()

7

In [6]:
# တန်ဖိုးအကြီးဆုံး values များကို nlargest ဖြင့်ကြည့်ခြင်း
df['price'].nlargest(10)
# nlargest() ထဲမှာ တန်ဖိုးမပေးထားရင် ၅ ခုကိုသာ ထုတ်ပြပါတယ်။

27749    18823
27748    18818
27747    18806
27746    18804
27745    18803
27744    18797
27742    18795
27743    18795
27740    18791
27741    18791
Name: price, dtype: int64

In [7]:
# တန်ဖိုးငယ်သည်များကို nsmallest() ဖြင့်ရှာခြင်ူ
df['price'].nsmallest()

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

In [8]:
# column မှ data frame တခုလုံး၏ အကြီးဆုံးတန်ဖိုးကို ရှာခြင်း
df.nlargest(10,['price'])

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
27744   2.29    Premium     I     SI1   61.8   59.0  18797  8.52  8.45  5.24
27742   2.04    Premium     H     SI1   58.1   60.0  18795  8.37  8.28  4.84
27743   2.00    Premium     I     VS1   60.8   59.0  18795  8.13  8.02  4.91
27740   1.71    Premium     F     VS2   62.3   59.0  18791  7.57  7.53  4.70
27741   2.15      Ideal     G     SI2   62.6   54.0  18791  8.29  8.35  5.21

In [9]:
# တခုထက်ပိုသည့် column များမှ data frame တခုလုံး၏ အကြီးဆုံးတန်ဖိုးကို ရှာခြင်း
df.nlargest(10,['price','table'])
# ဒီနည်းကိုတော့ သိပ်မသုံးသင့်ပါဘူး။ ဘာလို့လဲဆိုတော့ ပထမရေးတဲ့ column ကိုပဲမူတည်ပြီးရှာလို့ပါ။

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
27744   2.29    Premium     I     SI1   61.8   59.0  18797  8.52  8.45  5.24
27742   2.04    Premium     H     SI1   58.1   60.0  18795  8.37  8.28  4.84
27743   2.00    Premium     I     VS1   60.8   59.0  18795  8.13  8.02  4.91
27740   1.71    Premium     F     VS2   62.3   59.0  18791  7.57  7.53  4.70
27741   2.15      Ideal     G     SI2   62.6   54.0  18791  8.29  8.35  5.21

In [10]:
# အပေါ်က nlargest လိုပဲ nsmallest ကိုလည်းရှာလို့ရပါတယ်။ 

# ၁၀-၈-၂၀၂၂