<a href="https://colab.research.google.com/github/tomcat472/pandas_mm_tomcat/blob/main/Pandas_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# google drive နှင့် link ချိတ်ခြင်း
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=pd.read_csv('/content/drive/MyDrive/diamonds.csv')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
# removing columns
# ကိုယ်မရချင်တဲ့ columns တွေကို ဖယ်တဲ့အခါမှာ မူရင်း data ကို မထိခိုက်ဖို့အတွက် variable အသစ်တခုလုပ်သင့်ပါတယ်။
df_new=df.drop(columns=['x'])
df_new

       carat        cut color clarity  depth  table  price     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.87  3.64

[53940 rows x 9 columns]

In [5]:
# တခုထက်ပိုတဲ့ columns များကို remove လုပ်ခြင်း
df_new=df_new.drop(columns=['y','z'])
df_new

       carat        cut color clarity  depth  table  price
0       0.23      Ideal     E     SI2   61.5   55.0    326
1       0.21    Premium     E     SI1   59.8   61.0    326
2       0.23       Good     E     VS1   56.9   65.0    327
3       0.29    Premium     I     VS2   62.4   58.0    334
4       0.31       Good     J     SI2   63.3   58.0    335
...      ...        ...   ...     ...    ...    ...    ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757
53936   0.72       Good     D     SI1   63.1   55.0   2757
53937   0.70  Very Good     D     SI1   62.8   60.0   2757
53938   0.86    Premium     H     SI2   61.0   58.0   2757
53939   0.75      Ideal     D     SI2   62.2   55.0   2757

[53940 rows x 7 columns]

In [6]:
# variable assign မလုပ်ဘဲနဲ့ သုံးမယ်ဆိုရင် inplace=True ကိုရွေးပေးရမှာဖြစ်ပါတယ်။
# နောက်ထပ် remove လုပ်တဲ့နည်းကတော့ data ကို define လုပ်တဲ့အချိန်မှာ ကိုယ်သုံးချင်တဲ့ column ကိုရွေးပေးလို့ရပါတယ်။
# ဒါပေမယ့်ဒီနည်းကိုလည်းမသုံးသင့်ပါဘူး။

In [7]:
# နောက်တနည်းကတော့ columns တွေစုပြီး data frame အသစ်တခုလုပ်တဲ့နည်းဖြစ်ပါတယ်။
another_df=df[['cut','color','price']]
another_df.head()

       cut color  price
0    Ideal     E    326
1  Premium     E    326
2     Good     E    327
3  Premium     I    334
4     Good     J    335

In [8]:
# အပေါ်က drop method က columns တွေကိုသာမက rows တွေကိုပါ drop လုပ်လို့ရပါတယ်။
# row တွေကို drop လုပ်မယ်ဆိုရင် ကိုယ်မလိုချင်တဲ့ data တွေရှိတဲ့ column ကို index အဖြစ် သတ်မှတ်ပေးသင့်ပါတယ်။
another_df.set_index('cut',inplace=True)

In [9]:
another_df.sort_index()

          color  price
cut
Fair          F   3477
Fair          G   2376
Fair          G   2376
Fair          D   4746
Fair          E   4853
...         ...    ...
Very Good     G    579
Very Good     E   1384
Very Good     G   6743
Very Good     D   6745
Very Good     E   9324

[53940 rows x 2 columns]

In [10]:
# ဒီမှာဆိုရင် fair ပါတဲ့ row တွေကို remove လုပ်ပါမယ်။
# inplace=True လုပ်ပေးရပါမယ်။
# axis=0 ဆိုတာက row ကိုပြောတာဖြစ်ပါတယ်။
another_df.drop(labels='Fair',axis=0,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
# တခုထက်ပိုတဲ့ row တွေကို remove လုပ်ခြင်း
another_df.drop(labels=['Good','Very Good'],axis=0,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
another_df

        color  price
cut
Ideal       E    326
Premium     E    326
Premium     I    334
Ideal       J    340
Premium     F    342
...       ...    ...
Premium     F   2756
Premium     D   2757
Ideal       D   2757
Premium     H   2757
Ideal       D   2757

[35342 rows x 2 columns]

In [13]:
# ဒီလောက်ဆိုရင် row နဲ့ column ကို remove တဲ့သဘောတရားကို နားလည်ပြီလို့ ယူဆပါပြီ။
# နောက်တခုကတော့ column ကို နာမည်ပြောင်းတဲ့ဟာကို ဆက်လုပ်သွားမှာဖြစ်ပါတယ်။

In [14]:
# ဘယ်လိုသွားမှာလဲဆိုတော့ dictionary ရဲ့သဘောတရားကို သုံးပြီး နာမည်ပြောင်းမှာဖြစ်ပါတယ်။

In [15]:
# Dictionary မှာ ရဲ့ data types မှာ  key နဲ့ value ဆိုပြီး အတွဲလေးတွေပါတယ်။
# java script က json နဲ့သဘောသဘာဝချင်း ဆင်တူပါတယ်။
d={
    'name':'Tom',
    'age':25,
    'town':'Ygn'
}
print(d)
print(type(d))

{'name': 'Tom', 'age': 25, 'town': 'Ygn'}
<class 'dict'>

In [16]:
# အရှေ့က name,age,town တို့က key ဖြစ်ပြီး string ဖြင့်ရေးပါသည်။
for key in d.keys():
  print(key)

name
age
town

In [17]:
d.keys()

dict_keys(['name', 'age', 'town'])

In [18]:
# အနောက်ကတန်ဘိုးတွေက values တွေဖြစ်ပါတယ်။
d.values()

dict_values(['Tom', 25, 'Ygn'])

In [19]:
for value in d.values():
  print(value)

Tom
25
Ygn

In [20]:
# key နဲ့ value ကို အတူတူ ထုတ်ချင်ရင် .items() ကိုသုံးရပါတယ်။
d.items()

dict_items([('name', 'Tom'), ('age', 25), ('town', 'Ygn')])

In [21]:
for key,value in d.items():
  print(key,'--->',value)

name ---> Tom
age ---> 25
town ---> Ygn

In [22]:
# ဒီသဘောသဘာဝသိရင် column name စပြီးပြောင်းရအောင်
another_df.reset_index(inplace=True)

In [23]:
another_df.head()

       cut color  price
0    Ideal     E    326
1  Premium     E    326
2  Premium     I    334
3    Ideal     J    340
4  Premium     F    342

In [24]:
# name={'old_name':'new_name'} ပုံစံနဲ့ရေးသွားမှာ ဖြစ်ပါတယ်။
name={'cut':'CUT','color':'COLOR','price':'PRICE'}
another_df.rename(columns=name,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [25]:
another_df

           CUT COLOR  PRICE
0        Ideal     E    326
1      Premium     E    326
2      Premium     I    334
3        Ideal     J    340
4      Premium     F    342
...        ...   ...    ...
35337  Premium     F   2756
35338  Premium     D   2757
35339    Ideal     D   2757
35340  Premium     H   2757
35341    Ideal     D   2757

[35342 rows x 3 columns]

In [26]:
# ဒီပုံစံအတိုင်းပဲ index တွေကိုလည်း change လို့ရပါတယ်။

In [27]:
# နောက်တခုကတော့ values တွေကို ပြောင်းမှာဖြစ်ပါတယ်။
another_df['COLOR'].unique()

array(['E', 'I', 'J', 'F', 'G', 'D', 'H'], dtype=object)

In [28]:
another_df['CUT'].replace('E','e')
# .replace('old_name','new_name')

0          Ideal
1        Premium
2        Premium
3          Ideal
4        Premium
          ...
35337    Premium
35338    Premium
35339      Ideal
35340    Premium
35341      Ideal
Name: CUT, Length: 35342, dtype: object

In [29]:
# တခုထက်ပိုတဲ့တန်ဖိုးတွေကိုပြောင်းခြင်း
another_df['CUT'].replace({'Ideal':'ideal','Premium':'premium'})

0          ideal
1        premium
2        premium
3          ideal
4        premium
          ...
35337    premium
35338    premium
35339      ideal
35340    premium
35341      ideal
Name: CUT, Length: 35342, dtype: object

In [30]:
# (၁၀-၈-၂၀၂၂)